{{#required}}
    @NotNull
{{/required}}
{{^required}}
    @Nullable
{{/required}}
{{#isContainer}}
    {{^isPrimitiveType}}
        {{^isEnum}}
            @Valid
        {{/isEnum}}
    {{/isPrimitiveType}}
{{/isContainer}}
{{^isContainer}}
    {{^isPrimitiveType}}
        @Valid
    {{/isPrimitiveType}}
{{/isContainer}}
{{>beanValidationCore}}